*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	--font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	--font-serif: Georgia, Times, serif;
	--font-mono: Menlo, Courier, monospace;
}

body.light {
	--LightHard: hsl(0, 0%, 95%);
	--Light: hsl(0, 0%, 92%);
	--WordsHard: hsl(202, 55%, 10%);
	--Words: hsl(201, 45%, 10%);
	--boxShadow: hsl(0, 0%, 80%, .5);
}

body.dark {
	--LightHard: hsl(202, 55%, 10%);
	--Light: hsl(201, 55%, 15%);
	--WordsHard: hsl(0, 0%, 95%);
	--Words: hsl(0, 0%, 92%);
	--boxShadow: hsl(201, 55%, 15%, .5);
}

body {
	background-color: var(--LightHard);
	color: var(--Words);
	font-family: var(--font-sans-serif);
	transition: background-color 1s ease-in-out, color .5s ease;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	width: 90%;
}

.listPost {
	display: grid;
	gap: 18px;
	justify-content: space-between;
	grid-template-columns: 1fr;
}

@media screen and (min-width: 595px) {
	.listPost {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 980px) {
	.listPost {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.Template p,
.Template h1,
.Template h2,
.Template h3,
.Template ul {
	margin: 1rem 0;
}

.Template h1 {
	margin: 2.5rem 0 2rem;
	text-align: center;
}

.Template h1,
.Template h2,
.Template h3 {
	font-family: var(--font-serif);
}

.Template a {
	color: var(--WordsHard);
	text-decoration: underline;
}

.Template table {
	display: block;
	width: 100%;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	overflow: auto;

	border-spacing: 0;
	border-collapse: collapse;

	margin: 0 auto;
	border: 1px solid #5ebfbf;
}

.Template th,
.Template td {
	width: 25%;
	border: 1px solid #5ebfbf;
	border-collapse: collapse;
	padding: .5rem;
}

/* Asumimos que el estado inicial es mobile */
/* Tablet */
@media screen and (min-width: 595px) {
}
/* Tablets landscape */
@media screen and (min-width: 768px) {
}
/* Tablets landscape or small monitors */
@media screen and (min-width: 980px) {
}
/* Monitors up */
@media screen and (min-width: 1200px) {
}
