.contentTemplate {
	.contentHead {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		gap: 16px;
	}

	.Date {
		display: flex;
		align-items: center;
	}

	.Date > svg {
		margin-right: .5rem;
	}

	.prevAndnext {
		display: flex;
		justify-content: space-between;
		margin: 2rem 0;
	}

	p,
	h1,
	h2,
	h3,
	ul {
		margin: 1rem 0;
	}

	h1 {
		margin: 2.5rem 0 2rem;
		text-align: center;
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-serif);
	}

	a {
		color: var(--colorTextPrimary);
		text-decoration: underline;
	}

	table {
		display: block;
		width: 100%;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		max-width: 100%;
		overflow: auto;

		border-spacing: 0;
		border-collapse: collapse;

		margin: 0 auto;
		border: 1px solid #5ebfbf;
	}

	th,
	td {
		width: 25%;
		border: 1px solid #5ebfbf;
		border-collapse: collapse;
		padding: .5rem;
	}
}
