footer {
	width: 100%;
	background-color: var(--backgroundSecondary);
	box-shadow: 0 -4px 15px 0 var(--boxShadow);
	
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 2vh;
		padding-bottom: 2vh;
	}

	.Proyect {
		display: flex;
		align-items: center;
	}

	.Proyect > svg {
		margin-right: .5rem;
	}
}
